[submodule "coveralls-truffle"]
	path = coveralls-truffle
	url = https://github.com/smarr/CoverallsTruffle.git
[submodule "websocket"]
	path = websocket
	url = https://github.com/smarr/Java-WebSocket.git
